<div class="home-container">
  <div class="row">
    <div class="col image">
      <img src="./../../../../assets/images/about-us.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 heading">
      <h1>About US</h1>
    </div>
  </div>
  <div class="row about-text">
    <div class="col ">
      <p>
        AskMedic Home is one of the first private nursing homes to have been established in Central India, more
        than 40 years ago.
      </p>
      <p>
        Dr. Tiwari started the hospital, with the aim of providing quality medical care to the
        people of Odisha and its surrounding constituencies.
      </p>
      <p>
        We have successfully treated thousands of patients from all over the state and country and continue to strive to
        provide our patients with a quick recovery back to good health, whilst maintaining the highest quality of care
        and much needed compassion.
        Situated in the heart of the capital city of Odisha, in the Civil Lines area, the hospital offers its patients
        spacious, comfortable, air-cooled/air-conditioned rooms whilst recuperating from their surgery.
      </p>
      <p>
        The multi speciality hospital provides care in the following specialities:Obstetrics & Gynecology, General
        Surgery, Onco(Cancer) Surgery, Uro-surgery, 3D-4D Ultrasonography, Upper & Lower GI Endoscopy.

        The hospital is easily accessible from the railway station (3.6 Km), bus stand (2.6 Km) and airport (13 Km) and
        has a 24 hours admission policy.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
