<div class="footer">


  <div class="container">
    <div class="row standard-footer">
      <div class="col-md-12 text-center">
        <p>Askmedic create brandable Askmedic names for new businesses and products. Find catchy, short and memorable
          Askmedic for your company.
        </p>

        <p class="linklist">
          <a routerLink="about">Terms of Use</a>
          <a routerLink="about">Privacy Policy</a>
        </p>
      </div>
    </div>


    <div class="row standard-footer">
      <div class="col-md-10 col-xs-12">
        <p>© <a class="pinklink" routerLink="about">Askmedic Ltd</a>. All rights reserved.</p>
        <p>Askmedic is registered in India</p>
      </div>
      <div class="col-md-2 col-xs-12 text-right social-media">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        <fa-icon [icon]="faPinterest" size="2x"></fa-icon>



      </div>
    </div>

  </div>


</div>
